html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  padding: 0;
  margin: 0;
}

canvas {
  background-color: #eee;
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 54px;
  text-align: center;
}

h2, h3 {
  font-family: 'Bungee', cursive;
  display: inline-block;
  font-size: 24px;
}

img {
  display: block;
  align-self: center;
}

p {
  display: block;
  align-self: center;
  font-family: 'Bungee', cursive;
  font-size: 16px;
  max-width: 50em;
}
